---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import DesktopIcon from './desktop_icon.astro';

import FileImage from '../assets/top/file.png';
import TextImage from '../assets/top/text.png';
import MailImage from '../assets/top/ml.png';
import LogoImage from '../assets/top/20250630_073505000_iOS.png'
---

<Layout>
	<Image src={LogoImage} alt="電算部 ロゴ"/>

	<lu class="icon">
		<li> <DesktopIcon src={MailImage} title="news"/> </li>
		<li> <DesktopIcon src={FileImage} title="blog"/> </li>
		<li> <DesktopIcon src={FileImage} title="magazine"/> </li>
		<li> <DesktopIcon src={TextImage} title="about"/> </li>
	</lu>
</Layout>

<style>
	img{
		position: absolute;
		top: 10px;
		right: 10px;

		width: 169px;
		height: 90px;

		object-fit: cover;
	}
	li{
		list-style: none;
	}
</style>
